/* Splash Screen Style */
#splash {
  position: fixed;
  inset: 0;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  z-index: 99999;
}

#splash-icon {
  width: min(160px, 40vw);
  height: auto;
  border-radius: 20%;
}


.loader {
  border: 6px solid #eee;
  border-top: 6px solid #00c853;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  animation: spin 1.1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading-text {
  color: #444;
  font-size: 16px;
  font-weight: 500;
}

body {
    margin: 0;
    background: #111;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color: white;
    overflow: hidden;
}

/* Screens */
#screen-container {
    padding: 20px;
    padding-bottom: 90px;
}

.screen {
    display: none;
}

.screen.active {
    display: block;
}

.title {
    font-size: 32px;
    font-weight: 800;
}

/* Buttons */
.btn {
    background: #222;
    padding: 10px 20px;
    border-radius: 12px;
    border: 1px solid #555;
    color: white;
    font-size: 16px;
    margin-top: 10px;
}

/* Theme Buttons */
.color-bar {
    margin-top: 10px;
}
.color {
    padding: 8px 15px;
    border-radius: 12px;
    margin-right: 8px;
}
.green { background: #1ea362; }
.blue { background: #2478ff; }
.red { background: #ff4b4b; }
.yellow { background: #e6c926; }

/* Navigation unten */
#navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px;
    background: #222;
    display: flex;
    border-top: 1px solid #444;
}

.nav-item {
    flex: 1;
    text-align: center;
    padding-top: 6px;
    font-size: 14px;
    cursor: pointer;
}
.nav-item:hover {
    background: #333;
}
