/* =========================================
   Splash Screen
========================================= */
#splash {
  position: fixed;
  inset: 0;
  background: #333;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  z-index: 99999;
}

#splash img {
  filter: brightness(0.85);
}

#splash-text {
  font-size: 18px;
  color: white;
}

#splash-icon {
  width: min(160px, 40vw);
  height: auto;
  border-radius: 20%;
}

/* Loader */
.loader {
  border: 6px solid #eee;
  border-top: 6px solid #00C853;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  animation: spin 1.0s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading-text {
  color: white;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Aclonica', sans-serif;
}

/* =========================================
   Farben festlegen (Dunkel-/Hellmodus)
========================================= */

/* Standard (Hellmodus) */
@media (prefers-color-scheme: light) {
:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --text-color-light: #8f8f8f;
  --accent-color: #00C853;
  --accent-color-dark: #00903c;
  --menu-color-light: #bababa;
  --menu-color: #989898;
  --menu-color-dark: #7f7f7f;
  --menu-color-dark-extreme: #686868;
  --navbar-height: 80px;  
  }
}

/* Dunkelmodus */
@media (prefers-color-scheme: dark) {
  :root {
   --background-color: #0a0a0a;
   --text-color: #ffffff;
   --text-color-light: #8f8f8f;
   --accent-color: #00C853;
   --accent-color-dark: #009b40;
   --menu-color-light: #3f3f3f;
   --menu-color: #2d2d2d;
   --menu-color-dark: #232323;
   --menu-color-dark-extreme: #161616;
   --navbar-height: 80px;
  }
}

*{
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  color: var(--text-color)
}
html {
  height: 100%
}
body {
  height: 100%
}